.sun code {
    background: #fefcec;
    color: var(--fg);
}


.sun kbd {
    background: #e8e7d6;
}


.sun blockquote {
    margin: 20px 0;
    padding: 0 20px;
    color: var(--fg);
    background-color: var(--quote-bg);
    border-block-start: .001em solid var(--quote-border);
    border-block-end: .001em solid var(--quote-border);
    border-left: 0.25em solid;
    border-radius: 2px 0px 0px 2px;


}

.sun blockquote blockquote {
    margin: 20px 0;
    padding: 0 20px;
    color: var(--fg);
    background-color: var(--quote-bg);
    border-block-start: .001em solid var(--quote-border);
    border-block-end: .001em solid var(--quote-border);
    border-left: 0.25em solid;
    border-radius: 2px 0px 0px 2px;
    background: hsla(54, 16%, 74%, 0.295);


}

.sun {
    /* --bg: hsl(51, 91%, 91%); */
    --bg: hsl(52, 100%, 91%);
    --fg: hsl(0, 0%, 45%);


    --sidebar-bg: #fdf6ca;
    /* --sidebar-bg: #fff9d0; */
    --sidebar-fg: hsla(0, 0%, 0%, 0.568);
    --sidebar-non-existant: #aaaaaa;
    --sidebar-active: #000000;
    --sidebar-spacer: #00000088;

    --scrollbar: #8F8F8F;

    --icons: #747474;
    --icons-hover: #272727;

    /* --links: #20609f; */
    --links: #4774a0;

    --inline-code-color: #301900d2;

    --theme-popup-bg: #fefcec;
    /* --theme-popup-border: #cccccc; */
    --theme-popup-border: #b1b1a089;
    /* --theme-hover: #e6e6e6; */
    --theme-hover: #b4b4b38f;

    /* --theme-hover: #f5f5f582; */

    /* --quote-bg: hsla(0, 0%, 91%, 0.995); */
    --quote-bg: hsla(54, 50%, 89%, 0.995);
    /* --quote-border: hsla(60, 3%, 86%, 0.747); */
    --quote-border: hsla(55, 24%, 81%, 0.147);


    --warning-border: #ff8e00;

    --table-border-color: hsl(0, 0%, 85%);
    --table-header-bg: hsl(60, 11%, 76%);
    /* --table-header-bg: hsl(0, 0%, 80%); */
    /* --table-alternate-bg: hsl(0, 0%, 97%); */
    --table-alternate-bg: hsl(60, 22%, 85%);

    --searchbar-border-color: #8b8b8b;
    --searchbar-bg: #fefcec;
    --searchbar-fg: #363636;
    --searchbar-shadow-color: #aaa;
    --searchresults-header-fg: #666;
    --searchresults-border-color: #888;
    --searchresults-li-bg: #e4f2fe;
    --search-mark-bg: #a2cff5;

    --color-scheme: light;
}

.sun {
    /* === Nord Theme === */
    /* --> Polar Night */
    --nord0: #2a313e;
    --nord1: #383f4f;
    --nord2: #434C5E;
    --nord3: #4C566A;
    /* --> Snow Storm */
    --nord4: #D8DEE9;
    --nord5: #E5E9F0;
    --nord6: #ECEFF4;
    /* --> Frost */
    --nord7: #8FBCBB;
    --nord8: #88C0DD;
    --nord9: #81A1C1;
    --nord10: #5E81AC;
    /* --> Aurora */
    --nord11: #BF616A;
    --nord12: #D08770;
    --nord13: #EBCB8B;
    --nord14: #A3BE8C;
    --nord15: #B48EAD;


    --nord16: #505661;

    --nord17: #dcf7e4;
    --nord18: #2c3553;
    --nord19: #5a6d94;
    --nord20: #c6e5f0;
    --nord21: #9fa1b8;
    --nord22: #6e738d;

}

.sun code.hljs {
    padding: 3px 5px
}



.sun .hljs {
    background: #fefcec;
    color: var(--fg);
}


.sun .hljs::selection,
.sun .hljs ::selection {
    background-color: #434C5E;
    color: #E5E9F0
}

/* purposely do not highlight these things */
.sun .hljs-formula,
.sun .hljs-params,
.sun .hljs-property {}

/* base03 - #4C566A -  Comments, Invisibles, Line Highlighting */
/* .sun .hljs-comment {
  color: #4C566A} */
.sun .hljs-comment {
    color: #7584a3
}

/* base04 - #D8DEE9 -  Dark Foreground (Used for status bars) */
.sun .hljs-tag {
    color: #667ba3
}

/* base05 - #E5E9F0 -  Default Foreground, Caret, Delimiters, Operators */
.sun .hljs-subst,
.sun .hljs-punctuation,
.sun .hljs-operator {
    color: #8a98b2
}

.sun .hljs-operator {
    opacity: 0.7
}

/* base08 - Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted */
.sun .hljs-bullet,
.sun .hljs-variable,
.sun .hljs-template-variable,
.sun .hljs-selector-tag,
.sun .hljs-name,
.sun .hljs-deletion {
    color: #BF616A
}

/* base09 - Integers, Boolean, Constants, XML Attributes, Markup Link Url */
.sun .hljs-symbol,
.sun .hljs-number,
.sun .hljs-link,
.sun .hljs-attr,
.sun .hljs-variable.constant_,
.sun .hljs-literal {
    /* color: #D08770 */
    color: #70d0ba;
}

/* base0A - Classes, Markup Bold, Search Text Background */
.sun .hljs-title,
.sun .hljs-class .hljs-title,
.sun .hljs-title.class_ {
    color: #EBCB8B
}

.sun .hljs-strong {
    font-weight: bold;
    color: #EBCB8B
}

/* base0B - Strings, Inherited Class, Markup Code, Diff Inserted */
.sun .hljs-code,
.sun .hljs-addition,
.sun .hljs-title.class_.inherited__,
.sun .hljs-string {
    color: #A3BE8C
}

/* base0C - Support, Regular Expressions, Escape Characters, Markup Quotes */
/* guessing */
.sun .hljs-built_in,
.sun .hljs-doctag,
.sun .hljs-quote,
.sun .hljs-keyword.hljs-atrule,
.sun .hljs-regexp {
    color: #88C0D0
}

/* base0D - Functions, Methods, Attribute IDs, Headings */
.sun .hljs-function .hljs-title,
.sun .hljs-attribute,
.sun .ruby .hljs-property,
.sun .hljs-title.function_,
.sun .hljs-section {
    color: #81A1C1
}

/* base0E - Keywords, Storage, Selector, Markup Italic, Diff Changed */
/* .hljs-selector-id, */
/* .hljs-selector-class, */
/* .hljs-selector-attr, */
/* .hljs-selector-pseudo, */
.sun .hljs-type,
.sun .hljs-template-tag,
.sun .diff .hljs-meta,
.sun .hljs-keyword {
    color: #B48EAD
}

.sun .hljs-emphasis {
    color: #B48EAD;
    font-style: italic
}

/* base0F - Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?> */
/*
  prevent top level .keyword and .string scopes
  from leaking into meta by accident
*/
.sun .hljs-meta,
.sun .hljs-meta .hljs-keyword,
.sun .hljs-meta .hljs-string {
    color: #5E81AC
}

/* for v10 compatible themes */
.sun .hljs-meta .hljs-keyword,
.hljs-meta-keyword {
    font-weight: bold
}